body.login-page {
    background: url('../img/background_saturn.jpg') no-repeat center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.perfil-page {
    background: url('../img/background_show.jpg') no-repeat center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* INFO PERFIL */
.info {
    text-align: left;
    margin-bottom: 20px;
}