/* CONTAINER */
.container {
    background: rgba(2, 6, 23, 0.85);
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
}

/* BOTÕES */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 999px;
    cursor: pointer;

    border: none;
    text-decoration: none;
    font-size: 13px;

    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}

/* VARIAÇÕES */
.btn-success {
    background: rgba(34,197,94,0.15);
    color: #22c55e;
}

.btn-warning {
    background: rgba(245,158,11,0.15);
    color: #f59e0b;
}

.btn-primary {
    background: rgba(59,130,246,0.15);
    color: #3b82f6;
}

/* BOTÃO VOLTAR */
.btn-voltar {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background: rgba(255,255,255,0.08);
}

.btn-voltar:hover {
    background: rgba(255,255,255,0.15);
}

/* CARD */
.evento-card {
    background: linear-gradient(145deg, #020617, #0f172a);
    border-radius: 16px;
    padding: 16px;
    border: 1px solid rgba(255,255,255,0.04);

    transition: 0.25s;
}

.evento-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

/* GRID */
.grid-eventos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

/* MODAL (ÚNICO NO SISTEMA) */
.modal {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

.modal-content {
    background: #020617;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}
.btn-full {
    width: 100%;
}