body.criar-evento-page {
    background: #020617;
}

/* container maior */
.container {
    max-width: 500px;
    margin: 80px auto;
}

/* textarea */
textarea {
    resize: none;
    height: 100px;
}