/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

/* INPUTS PADRÃO */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 5px #22c55e;
}

/* BOTÃO BASE */
button {
    padding: 10px;
    margin-top: 10px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(45deg, #22c55e, #16a34a);
    color: white;

    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.03);
}

/* UTIL */
.hidden {
    display: none !important;
}